// RWD BREAKPOINTS 
// mobile first! so you only have to use floats etc in larger sizes
// set breakpoints where your content breaks, not particular devices

@mixin breakpoint($point) {
  @if $point == xs {
    @media screen and (min-width: $xs-screen)  { @content; } 
  }
  @if $point == sm {
    @media screen and (min-width: $sm-screen) { @content; }
  }
  @if $point == md {
    @media screen and (min-width: $md-screen) { @content; }
  }
  @if $point == lg {
    @media screen and (min-width: $lg-screen) { @content; }
  }
  @else if $point == xl {
    @media screen and (min-width: $xl-screen) { @content; }
  }
}

@mixin include-font($font-family, $file-name, $weight: normal, $style: normal) {
@font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
        //IE9 Compatibility Mode
        src: url('../fonts/#{$file-name}.eot');
        //IE6-IE8
        src: url('../fonts/#{$file-name}.eot?#iefix') format('embedded-opentype'),
             //Super Modern Browsers
             url('../fonts/#{$file-name}.woff2') format('woff2'),
              url('../fonts/#{$file-name}.otf') format('otf'),
             //Majority of Modern Browsers
             url('../fonts/#{$file-name}.woff') format('woff'),
             //Safari, Android, iOS
             url('../fonts/#{$file-name}.ttf') format('truetype'),
             //Legacy iOS
             url('../fonts/#{$file-name}.svg##{$file-name}') format('svg');
    }
}


// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 16) * 1px;
  font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Clearfix
@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
  clear: both;
}

/**
 * Lists
 */
@mixin no-bullets() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin inline-list() {
  @include no-bullets();
  li {
   display: inline-block; 
 }
}


/**
 * Modules
 */

/**
 * Buttons
 */
@mixin button($font-size: $small, $color: text-color( $color__default ), $bg-color: $color__default, $border-radius: $element__border-radius-base) {

  transition: all 0.25s ease;
  @include font-size($font-size);
  text-align: center;
  background-color: $bg-color;
  color: $color;
  display: inline-block;
  border-radius: $border-radius;

  &:hover,
  &:focus {
    background: lighten($bg-color, 10%);
    color: text-color( $bg-color );
  }
}

@mixin icon-font($icon: cog, $position: none, $color: $color__light-grey) {
  @if $position == "after" {
    &:after {
      margin-left: .5em;
      @include fa-icon;
      @extend %icon-#{$icon};
      color: $color;
    }
  }
  @elseif $position == "before" {
    &:before {
      margin-right: .5em;
      @include fa-icon;
      @extend %icon-#{$icon};
      color: $color;
    }
  }
  @else {
    @include fa-icon;
    @extend %icon-#{$icon};
    color: $color;
  }
}


@mixin badge($color: $color__white, $bgcolor: $color__warning, $font-size: $tiny) {
  @include font-size($font-size);
  background-color: $bgcolor;
  border-radius: 10px;
  color: $color;
  display: inline-block;
  line-height: 1;
  min-width: 10px;
  padding: 3px 7px;
}

/**
 * Utilities
 */
@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    @include transform(translateX(-50%) translateY(-50%));
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    @include transform(translateX(-50%));
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    @include transform(translateY(-50%));
  }
}

// Hide/show with transition
// http://bitsofco.de/3-useful-reusable-sass-mixins/#hidingandshowingelementswithatransition
@mixin fade($type) {

  @if $type == 'hide' {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 1s;
  }

  @else if $type == 'show' {
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 1s;
  }

}

@mixin screen-reader-text() {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  /* many screen reader and browser combinations announce broken words as they would appear visually */
  word-wrap: normal !important;
}

@mixin visuallyhidden() {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

@mixin fullwidth($bg-color: $color__black, $opacity: .5) {
  margin: 0 -9999rem;
  /* add back negative margin value */
  padding: 0.25rem 9999rem;
  background: rgba($color__black, $opacity);
}

@mixin border($position: bottom, $space: .25em, $color: $color__border-hr, $weight: 1px, $style: solid) {

  @if $position == 'bottom' {
    border-bottom: $weight $style $color;
    margin-bottom: $space;
    padding-bottom: $space;
  }
  @else if $position == 'top' {
    border-top: $weight $style $color;
    margin-top: $space;
    padding-top: $space;
  }
  @else if $position == 'right' {
    border-right: $weight $style $color;
    margin-right: $space;
    padding-right: $space;
  }
  @else if $position == 'left' {
    border-left: $weight $style $color;
    margin-left: $space;
    padding-left: $space;
  }

}

@mixin alert($color: $color__default) {
  padding: 1em;
  border: 1px solid $color;
  background-color: rgba($color,.2);
  color: $color;
}

// Sliding hover effect
@mixin sliding-hover-effect() {
    padding-left: 0;
    padding-right: 20px;
    &:hover,
    &:focus {
        padding-left: 15px;
        padding-right: 5px;
        background-color: darken($color__background-widget, 10%);
        background-color: rgba(0,0,0,.1);
    }
}
